In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':[4,5,3,np.nan,2],
                  'key2':[2,9,np.nan,np.nan,5],
                  'key3':[1,2,3,'a','b']},
                 index=list('abcde'))
print(df)

   key1  key2 key3
a   4.0   2.0    1
b   5.0   9.0    2
c   3.0   NaN    3
d   NaN   NaN    a
e   2.0   5.0    b

In [3]:
print(df['key1'].dtype, df['key2'].dtype, df['key3'].dtype)

float64 float64 object

In [4]:
m1 = df.mean() #对列求平均值
print(m1, type(m1))
print('-------')
print('单独对key2列求平均值:', df['key2'].mean())

key1    3.500000
key2    5.333333
dtype: float64 <class 'pandas.core.series.Series'>
-------
单独对key2列求平均值: 5.333333333333333

In [5]:
m2 = df.mean(axis=1) #axis=1对行求平均值
print(m2, type(m2))

a    3.0
b    7.0
c    3.0
d    NaN
e    3.5
dtype: float64 <class 'pandas.core.series.Series'>

In [6]:
#skipna参数：是否忽略NaN，默认是True，如果是False，有NaN的列统计结果仍为Nan
m3 = df.mean(skipna=False) 
print(m3)
m4 = df.mean(axis=1,skipna=False)
print(m4)

key1   NaN
key2   NaN
dtype: float64
a    3.0
b    7.0
c    NaN
d    NaN
e    3.5
dtype: float64

In [7]:
#主要数学计算方法
df = pd.DataFrame({'key1':np.arange(11),
                  'key2':np.random.rand(11)*10})

print(df)

    key1      key2
0      0  1.857629
1      1  1.812899
2      2  6.871391
3      3  6.876110
4      4  5.751391
5      5  5.096974
6      6  0.853670
7      7  5.149578
8      8  6.541204
9      9  4.673399
10    10  8.410183

In [8]:
print(df.count())

key1    11
key2    11
dtype: int64

In [46]:
df['key2'][2] = np.nan
print(df)

    key1      key2
0      0  3.645607
1      1  4.034001
2      2       NaN
3      3  8.348921
4      4  5.002392
5      5  0.991633
6      6  0.910818
7      7  6.583501
8      8  7.259424
9      9  5.288712
10    10  4.736378

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [9]:
print(df.count()) #统计非Nan值的数量

key1    11
key2    11
dtype: int64

In [10]:
print(df.min()) #最小值
print('-----')
print(df.max()) #最大值

key1    0.00000
key2    0.85367
dtype: float64
-----
key1    10.000000
key2     8.410183
dtype: float64

In [11]:
print(df.quantile(q=0.3))

key1    3.000000
key2    4.673399
Name: 0.3, dtype: float64

In [12]:
#cumsum样本的累计和
df['key1_s'] = df['key1'].cumsum()
df['key2_s'] = df['key2'].cumsum()
print(df)

    key1      key2  key1_s     key2_s
0      0  1.857629       0   1.857629
1      1  1.812899       1   3.670528
2      2  6.871391       3  10.541919
3      3  6.876110       6  17.418029
4      4  5.751391      10  23.169420
5      5  5.096974      15  28.266394
6      6  0.853670      21  29.120064
7      7  5.149578      28  34.269642
8      8  6.541204      36  40.810846
9      9  4.673399      45  45.484245
10    10  8.410183      55  53.894428

In [13]:
print(df.cummax())

    key1      key2  key1_s     key2_s
0    0.0  1.857629     0.0   1.857629
1    1.0  1.857629     1.0   3.670528
2    2.0  6.871391     3.0  10.541919
3    3.0  6.876110     6.0  17.418029
4    4.0  6.876110    10.0  23.169420
5    5.0  6.876110    15.0  28.266394
6    6.0  6.876110    21.0  29.120064
7    7.0  6.876110    28.0  34.269642
8    8.0  6.876110    36.0  40.810846
9    9.0  6.876110    45.0  45.484245
10  10.0  8.410183    55.0  53.894428

In [14]:
print(df.cummin())

    key1      key2  key1_s    key2_s
0    0.0  1.857629     0.0  1.857629
1    0.0  1.812899     0.0  1.857629
2    0.0  1.812899     0.0  1.857629
3    0.0  1.812899     0.0  1.857629
4    0.0  1.812899     0.0  1.857629
5    0.0  1.812899     0.0  1.857629
6    0.0  0.853670     0.0  1.857629
7    0.0  0.853670     0.0  1.857629
8    0.0  0.853670     0.0  1.857629
9    0.0  0.853670     0.0  1.857629
10   0.0  0.853670     0.0  1.857629

In [15]:
s = pd.Series(list('adbddekoidceeg'))
print(s)

0     a
1     d
2     b
3     d
4     d
5     e
6     k
7     o
8     i
9     d
10    c
11    e
12    e
13    g
dtype: object

In [16]:
sq = s.unique()
print(sq, type(sq))
print('------')
print(pd.Series(sq))
print('------')
sq.sort()
print(sq)

['a' 'd' 'b' 'e' 'k' 'o' 'i' 'c' 'g'] <class 'numpy.ndarray'>
------
0    a
1    d
2    b
3    e
4    k
5    o
6    i
7    c
8    g
dtype: object
------
['a' 'b' 'c' 'd' 'e' 'g' 'i' 'k' 'o']

In [17]:
print(s)
print('------')
sc = s.value_counts(sort=False)
print(sc)

0     a
1     d
2     b
3     d
4     d
5     e
6     k
7     o
8     i
9     d
10    c
11    e
12    e
13    g
dtype: object
------
o    1
a    1
c    1
d    4
k    1
b    1
i    1
e    3
g    1
dtype: int64

In [18]:
df = pd.DataFrame([['M','Jack','90-65-92'],
                   ['M','Tom','89-88-90'],
                   ['F','Marry','84-50-92'],
                  ['M','Zack','78-72-79'],
                  ['F','Heheda','61-62-63']], columns=['gender','name','score'])
print(df)

  gender    name     score
0      M    Jack  90-65-92
1      M     Tom  89-88-90
2      F   Marry  84-50-92
3      M    Zack  78-72-79
4      F  Heheda  61-62-63

In [98]:
df['gender'] = df['gender'].str.lower()
print(df)

  gender    name     score
0      m    Jack  90-65-92
1      m     Tom  89-88-90
2      f   Marry  84-50-92
3      m    Zack  78-72-79
4      f  Heheda  61-62-63

In [19]:
d = df['score'].str.split('-',expand=True)
df['math'] = d[0]
df['english'] = d[1]
df['art'] = d[2]
del df['score']
print(df)
# print(df, type(d))

  gender    name math english art
0      M    Jack   90      65  92
1      M     Tom   89      88  90
2      F   Marry   84      50  92
3      M    Zack   78      72  79
4      F  Heheda   61      62  63

In [20]:
df1 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
df2 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})
print(df1)
print('----')
print(df2)
print('----')
print(pd.merge(df1,df2, on='key'))

    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K2
3  A3  B3  K3
----
    C   D key
0  C0  D0  K0
1  C1  D1  K1
2  C2  D2  K2
3  C3  D3  K3
----
    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K2  C2  D2
3  A3  B3  K3  C3  D3

In [21]:
df3 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                    'key2': ['K0', 'K1', 'K0', 'K1'],
                    'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3']})
df4 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                    'key2': ['K0', 'K0', 'K0', 'K0'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})
print(df3)
print('----')
print(df4)
print('-----')
print(pd.merge(df3,df4, on=['key1','key2']))
#key1=k0 key2=k0的df3有1行，df4有1行
#key1=k1 key2=k0的df3有1行，df4有2行
#所以合并之后结果有3条

    A   B key1 key2
0  A0  B0   K0   K0
1  A1  B1   K0   K1
2  A2  B2   K1   K0
3  A3  B3   K2   K1
----
    C   D key1 key2
0  C0  D0   K0   K0
1  C1  D1   K1   K0
2  C2  D2   K1   K0
3  C3  D3   K2   K0
-----
    A   B key1 key2   C   D
0  A0  B0   K0   K0  C0  D0
1  A2  B2   K1   K0  C1  D1
2  A2  B2   K1   K0  C2  D2

In [22]:
#merge 默认取交集
print(pd.merge(df3,df4,on=['key1','key2'],how='inner'))
print('----')
print(pd.merge(df3, df4, on=['key1','key2'], how='outer')) #并集，缺失的自动补NaN
print('----')
print(pd.merge(df3,df4, on=['key1','key2'], how='left')) #按照df3为参考合并，数据缺失范围NaN
print('----')
print(pd.merge(df3,df4, on=['key1','key2'], how='right'))#按照df4为参考合并，数据缺失范围NaN

    A   B key1 key2   C   D
0  A0  B0   K0   K0  C0  D0
1  A2  B2   K1   K0  C1  D1
2  A2  B2   K1   K0  C2  D2
----
     A    B key1 key2    C    D
0   A0   B0   K0   K0   C0   D0
1   A1   B1   K0   K1  NaN  NaN
2   A2   B2   K1   K0   C1   D1
3   A2   B2   K1   K0   C2   D2
4   A3   B3   K2   K1  NaN  NaN
5  NaN  NaN   K2   K0   C3   D3
----
    A   B key1 key2    C    D
0  A0  B0   K0   K0   C0   D0
1  A1  B1   K0   K1  NaN  NaN
2  A2  B2   K1   K0   C1   D1
3  A2  B2   K1   K0   C2   D2
4  A3  B3   K2   K1  NaN  NaN
----
     A    B key1 key2   C   D
0   A0   B0   K0   K0  C0  D0
1   A2   B2   K1   K0  C1  D1
2   A2   B2   K1   K0  C2  D2
3  NaN  NaN   K2   K0  C3  D3

In [13]:
# concat
s5 = pd.Series([1,2,3],index = ['a','b','c'])
s6 = pd.Series([2,3,4],index = ['b','c','d'])
print(s5)
print(s6)
print('----')
print(pd.concat([s5,s6]))

print('-----')
print(pd.concat([s5,s6],axis=1))
print('-----')
print(pd.concat([s5,s6], axis=1, join='inner')) #inner 是交集， 默认是outer
print(pd.concat([s5,s6], axis=1, join_axes=[['a','d']])) #join_axes：指定联合的index

a    1
b    2
c    3
dtype: int64
b    2
c    3
d    4
dtype: int64
----
a    1
b    2
c    3
b    2
c    3
d    4
dtype: int64
-----
     0    1
a  1.0  NaN
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0
-----
   0  1
b  2  2
c  3  3
     0    1
a  1.0  NaN
d  NaN  4.0

In [22]:
df1 = pd.DataFrame([[np.nan, 3., 5.], [-4.6, np.nan, np.nan],[np.nan, 7., np.nan]])
df2 = pd.DataFrame([[-42.6, np.nan, -8.2], [-5., 1.6, 4]],index=[1, 2])
print(df1)
print(df2)
print('------')
print(pd.concat([df1,df2]))
print('------')
print(pd.concat([df1,df2],axis=1))
print('------')
print(pd.concat([df1,df2],axis=1, join='inner'))

print('-----')
print(df1.combine_first(df2)) #df1中空值部分用df2对应位置的值

print('-----')
df1.update(df2) #df2的值直接替换df1
print(df1)

     0    1    2
0  NaN  3.0  5.0
1 -4.6  NaN  NaN
2  NaN  7.0  NaN
      0    1    2
1 -42.6  NaN -8.2
2  -5.0  1.6  4.0
------
      0    1    2
0   NaN  3.0  5.0
1  -4.6  NaN  NaN
2   NaN  7.0  NaN
1 -42.6  NaN -8.2
2  -5.0  1.6  4.0
------
     0    1    2     0    1    2
0  NaN  3.0  5.0   NaN  NaN  NaN
1 -4.6  NaN  NaN -42.6  NaN -8.2
2  NaN  7.0  NaN  -5.0  1.6  4.0
------
     0    1   2     0    1    2
1 -4.6  NaN NaN -42.6  NaN -8.2
2  NaN  7.0 NaN  -5.0  1.6  4.0
-----
     0    1    2
0  NaN  3.0  5.0
1 -4.6  NaN -8.2
2 -5.0  7.0  4.0
-----
      0    1    2
0   NaN  3.0  5.0
1 -42.6  NaN -8.2
2  -5.0  1.6  4.0

In [2]:
#分组
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
print(df)
print(df.groupby('A'), type(df.groupby('A')))

print('-----')

a = df.groupby('A').sum()
print(a)
b = df.groupby('B').sum()
print(b)

     A      B         C         D
0  foo    one -1.790367  0.112106
1  bar    one -0.938866 -0.124709
2  foo    two  0.179703  1.184680
3  bar  three -1.469221 -0.068171
4  foo    two -0.733676 -0.561756
5  bar    two  1.349390  1.082832
6  foo    one -0.141326 -2.078353
7  foo  three -0.955032 -1.796202
<pandas.core.groupby.DataFrameGroupBy object at 0x10cb13eb8> <class 'pandas.core.groupby.DataFrameGroupBy'>
-----
            C         D
A
bar -1.058697  0.889952
foo -3.440697 -3.139524
              C         D
B
one   -2.870558 -2.090955
three -2.424253 -1.864373
two    0.795417  1.705756

In [11]:
#透视表
date = ['2018-03-22','2018-03-23','2018-03-24'] * 3
rng = pd.to_datetime(date)
# print(rng)
df = pd.DataFrame({'date':rng,
                 'key':list('abcaadcba'),
                 'value':np.random.rand(9)*10})
print(df)

        date key     value
0 2018-03-22   a  2.450271
1 2018-03-23   b  5.387840
2 2018-03-24   c  6.591987
3 2018-03-22   a  2.438177
4 2018-03-23   a  6.798187
5 2018-03-24   d  2.267691
6 2018-03-22   c  1.005130
7 2018-03-23   b  5.406079
8 2018-03-24   a  7.121117

In [12]:
# data：DataFrame对象
# values：要聚合的列或列的列表
# index：数据透视表的index，从原数据的列中筛选
# columns：数据透视表的columns，从原数据的列中筛选
# aggfunc：用于聚合的函数，默认为numpy.mean，支持numpy计算方法
print(pd.pivot_table(df, values='value', index='date', columns='key', aggfunc=np.sum))

key                a          b         c         d
date
2018-03-22  4.888448        NaN  1.005130       NaN
2018-03-23  6.798187  10.793919       NaN       NaN
2018-03-24  7.121117        NaN  6.591987  2.267691